$yellow: #f8f29b;
$blue: #72b2bb;
$light-blue:#85dce8;

body {
  font-family: "Tahoma", sans-serif;
  min-height: 100vh;
  background-color: $yellow;
}

.wrap-header,
.wrap-main {
  max-width: 1024px;
  margin: 0 auto;
}

.wrap-main {
  padding: 8% 0;
}

.site-header {
  background-color: $blue;
  padding-bottom: 18px;
  padding-top: 18px;
  font-weight: bold;
  a {
  color: #253234;
  text-align: right;
  }
}


.logout a:hover {
  color: $light-blue;
}

.site-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.7;
  text-align: left;
}

.nav-item {
  text-align: right;
}

.greeting a {
  pointer-events: none;
}

.site-title a,
.site-title a:hover {
  color: $yellow;
  text-decoration: none;
}

.site-title .blue {
  color: $light-blue;
}

// .main {
//   text-align: center;
// }

.form-inline .form-control.search {
  width: 600px;
}

.table td, .table th {
  background-color: #5296d9;
  vertical-align: middle;
}



@media (max-width: 995px) {
  .nav-item,
  
  .site-title,
  .site-header a {
    text-align: center;
    
  }

  .wrap-main{
    padding: 8% 8%;
  }
}

@media (max-width: 647px) {

  .form-inline .form-control.search {
  width: 340px;
}
}