{% extends "layout.html" %} {% block body %}

<div class="wrap row justify-content-center">
  <form class="col-lg-4" method="POST">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {% endif %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" />
    </div>
    <div class="pb-2 form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
    <div class="mt-4 form-group">
      <a href="{{ url_for('signUp') }}">Don't have an account yet? Press here to sign up</a>
    </div>
  </form>
</div>

{% endblock %}
