{% extends "layout.html" %} {% block body %}


  <div class="main">
    <h4 class="text-center mb-5">Let's search!</h4>

    <div class="mb-5 row justify-content-center">
      <form class="form-inline" method="GET">
        <input
          type="search"
          class="search form-control m-2"
          name="search"
          placeholder="Enter title, author or ISBN"
          aria-label="search"
          required="required"
        />
        <button class="btn btn-outline-success mx-auto" type="submit">
          Search
        </button>
      </form>
    </div>

    <div class="book_list">
      {% if search %}
      <h2 class="text-center mb-5">Searching results:</h2>
      <ol>
        {% for item in search %}
        <li>
          <a href="{{ url_for('book_page', isbn=item.isbn) }}" target="_blank">
            {{ item.title }}, {{ item.author }}
          </a>
        </li>
        {% else %}
      </ol>
      <h4 class="text-center">Your search did not match any books!</h4>
      {% endfor %} {% endif %}
    </div>
  </div>


{% endblock %}
