{% extends "layout.html" %} {% block body %}


<div class="wrap-main">
  
  
  <div class="row justify-content-center">       
    
    <form class="col-lg-6" method="POST">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}
      <h2>Registration form</h2>
      <div class="form-group">
        <label for="username">Enter your name</label>
        <input
          type="text"
          class="form-control"
          name="username"
          required="required"          
        />
      </div>
      <div class="pb-2 form-group">
        <label for="password">Enter your password</label>
        <input type="password" class="form-control" name="password" required="required" />
      </div>
      <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
  </div>
  <div class="pt-2 row justify-content-center">
    <div class="col-lg-6"><a href="{{ url_for('index') }}">Go back</a></div>
  </div>
</div>

{% endblock %}
