body {
  font-family: "Tahoma", sans-serif;
  min-height: 100vh;
  background-color: #f5ed7c; }

.wrap-header,
.wrap-main {
  max-width: 1024px;
  margin: 0 auto; }

.wrap-main {
  padding: 10% 0; }

.site-header {
  background-color: #72b2bb;
  padding-bottom: 18px;
  padding-top: 18px;
  font-weight: bold; }

.site-header a {
  color: #253234;
  text-align: right; }

.logout a:hover {
  color: #85dce8; }

.site-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.7;
  text-align: left; }

.nav-item {
  text-align: right; }

.greeting a {
  pointer-events: none; }

.site-title a,
.site-title a:hover {
  color: #f5ed7c;
  text-decoration: none; }

.site-title .blue {
  color: #85dce8; }

.form-inline .form-control.search {
  width: 600px; }

table {
  background-color: #5296d9; }

@media (max-width: 995px) {
  .nav-item,
  .main,
  .site-title,
  .site-header a {
    text-align: center; } }
